tags
*.pyc
*~
*.[oa]
results.json
*.dub
*.so
*.lst
*.swp
*.orig

build/
build-test/
docs/
tmp/
resources/version.txt

binary_size.txt
dub.selections.json
.autobuild.bin
dscanner_report.txt
docs.json
dub_build/
